* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02254a;
    color: white;
    padding: 10px 20px;
}

.navbar-left h1 {
    margin: 0;
    font-size: 1.5em;
}

.navbar-right .btn-add-user {
    background-color:#044387;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}



/* Form Container */
.form-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 15px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
    
    text-align: center;
    
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.ty {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.form-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    margin-top: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
#search{
    padding: 5px 0px;
    margin-right: 30px;
    text-align: center;
}